@model Ice_Task_3.Models.User

@{
    ViewData["Title"] = "Delete User";
}

<h1>Delete User</h1>

<h3>Are you sure you want to delete this user?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName @Model.LastName
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Model.Role
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            Registration Date
        </dt>
        <dd class="col-sm-10">
            @Model.RegistrationDate.ToShortDateString()
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>