@model Ice_Task_3.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            First Name
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            Last Name
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
        <dt class="col-sm-2">
            Role
        </dt>
        <dd class="col-sm-10">
            @Model.Role
        </dd>
        <dt class="col-sm-2">
            Phone Number
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            Address
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            Registration Date
        </dt>
        <dd class="col-sm-10">
            @Model.RegistrationDate.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-controller="Transaction" asp-action="UserTransactions" asp-route-id="@Model.Id" class="btn btn-secondary">Books</a>
    <a asp-controller="Fine" asp-action="UserFines" asp-route-id="@Model.Id" class="btn btn-warning">Fines</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>